.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  text-align: inherit;

  & svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > #dayIcon {
    display: none;
  }
  & > #nightIcon {
    display: inline;
  }
}

[saved-theme="dark"]  img[src*="garden\.svg"] {
  filter: invert(1);
}

[saved-theme="dark"]  img[src*="LABS\.svg"] {
  filter: invert(1);
}

[saved-theme="dark"]  img[src*="exploration\.svg"] {
  filter: invert(1);
}

[saved-theme="dark"]  img[src*="music\.svg"] {
  filter: invert(1);
}


// [saved-theme="dark"] body[data-slug="index"] img[src*="garden\.svg"] {
//   filter: invert(1);
// }
//
// [saved-theme="dark"] body[data-slug="LABS/index"] img[src*="LABS\.svg"] {
//   filter: invert(1);
// }
//
// [saved-theme="dark"] body[data-slug="explorations/index"] img[src*="exploration\.svg"] {
//   filter: invert(1);
// }
//
// [saved-theme="dark"] body[data-slug="Music/index"] img[src*="music\.svg"] {
//   filter: invert(1);
// }
//
:root .darkmode {
  & > #dayIcon {
    display: inline;
  }
  & > #nightIcon {
    display: none;
  }
}
