@use "./base.scss";

// put your custom CSS here!

// #quartz-body > div.center > article > p {
//   width: 100%;
// }

// #quartz-body > div.center > article > p > img {
img {
  display: block;
  margin: 0 auto;
}

div.table-container > table {
  margin: 0 auto;
}

.font-up {
  font-size: 1.4rem;
}

.graph-view {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px; /* Adjust as needed */
  height: auto;
  z-index: 100;
}